/*  ====================================
            Color Variable's
====================================  */

$Primary_Color: #D1B06B;
// $Primary_Content_Color: #CCAA60; 
$White: #FFFFFF;
$White_shade: #FBFBFB;
$White_shade2: #D7D7D7;
$White_10: rgba(255, 255, 255, 0.10);
$Grey: #DFDFDF;
$Grey2: #909090;
$Grey3: #CBCBCB;
$Grey4: #CACACA;
$Grey_shade: #4E555F;
$Grey_shade2: #3A4553;
$bg1: #1F2732;
$bg2: #3B434E;
$bg3: #2E3947;
$Dark: #161D27;
$Black: #000000;


/*  ====================================
        Font Size Variable's
====================================  */

$font-size-65px: 65px;
$font-size-45px: 45px;
$font-size-30px: 30px;
$font-size-22px: 22px;
$font-size-20px: 20px;
$font-size-18px: 18px;

/*  ====================================
        Line Height Variable's
====================================  */

$line-height-74px: 74px;
$line-height-60px: 60px;
$line-height-52px: 52px;
$line-height-40px: 40px;
$line-height-36px: 36px;
$line-height-28px: 28px;

/*  ====================================
        Box Shadow Variable's
====================================  */
/*  ====================================
        Font Family Variable's
====================================  */

$font-family-CormorantGaramond-Bold: "CormorantGaramond-Bold";
$font-family-outfit-Bold: "Outfit-Bold";
$font-family-outfit-Medium: "Outfit-Medium";
$font-family-outfit-Regular: "Outfit-Regular";
$font-family-LuxuriousScript-Regular: "LuxuriousScript-Regular";

/*  ====================================
        Screen Size Variable's
====================================  */

$screen-size-1200px: 1200px;
$screen-size-991px: 991px;
$screen-size-767px: 767px;
$screen-size-575px: 575px;
$screen-size-420px: 420px;