@import '../../common-style/variables.scss';

.AboutHeroSection{
    padding: 128px 0;
    background-color: $bg1;

    @media (max-width: 992px) {
        padding: 72px 0;
    }

    @media (max-width: 576px) {
        padding: 48px 0;
    }

    .container{

        .row_custom{
            align-items: center;
            gap: 36px 0;

            @media (max-width: 992px) {
                flex-direction: column-reverse;
            }

            .col_img_otr{

                .col_img_inr{
                    display: flex;
                    justify-content: center;
                    padding: 0 48px;

                    @media (max-width: 1200px) {
                        padding: 0;
                    }

                    .img{
                        width: 100%;

                        @media (max-width: 992px) {
                            width: 50%;
                        }

                        @media (max-width: 768px) {
                            width: 60%;
                        }

                        @media (max-width:576px) {
                            width: 80%;
                        }

                        @media (max-width:420px) {
                            width: 90%;
                        }
                    }
                }
            }
            .col_content_otr{

                .col_content_inr{

                    .icon{
                        width: 96px;
                        height: 45px;
                        object-fit: contain;
                    }

                    .heading{
                        color: $White;
                        margin: 24px 0 12px;
                    }

                    .desc{
                        color: $White;
                    }

                    .social_ul{
                        display: flex;
                        align-items: center;
                        gap: 0 24px;
                        margin: 48px 0 40px;

                        .social_li{

                            .social_a{
                                transition: .3s;

                                &:hover{

                                    svg{
                                        color: $Primary_Color;
                                    }
                                }

                                svg{
                                    color: $White;
                                    transition: .3s;
                                }
                            }
                        }
                    }

                    .action_otr{
                        
                        .white_btn{
                            @media (max-width: 320px) {
                                padding: 16px 24px 17px 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}