@import '../../common-style/variables.scss';


.Box_main{
    padding-top: 128px;
    
    @media (max-width:992px) {
        padding-top: 72px;
    }
    
    @media (max-width:576px) {
        padding-top: 48px;
    }
    
    .container{
    
        .row_custom{
            gap: 36px 0;
        }
    }
}

.col_box_otr{
    
    .col_box_inr{
        padding: 56px 48px;
        background-color: $bg3;
        position: relative;
    
        @media (max-width:576px) {
            padding: 32px 24px;
        }
    
        .profile_quotes_main{
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            .profile_main{
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
                gap: 0 16px;
                position: relative;
                z-index: 2;
    
                .profile_otr{
                    width: 64px;
                    height: 64px;
                    border-radius: 100%;
                    overflow: hidden;
    
                    .profile{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                .content{
    
                    .heading{
                        color: $White;
                        transition: .3s;
    
                        &:hover{
                            color: $Primary_Color;
                        }
                    }
    
                    .text{
                        color: $White_shade2;
                        margin-top: 4px;
                    }
                }
            }
    
            .quotes_main{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 75px;
                height: 75px;
                background-color: $bg1;
                border-radius: 100%;
    
                @media (max-width:576px) {
                    position: absolute;
                    top: 32px;
                    right: 24px;
                }
    
                .icon{

                }
            }
        }
    
        .content_otr{
            margin-top: 32px;
    
            .desc{
                color: $White;
            }
        }
    }
}