@import '../../common-style/variables.scss';

.primary_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 15px 38px 15px 38px;
    font-size: $font-size-22px;
    line-height: $line-height-36px;
    font-family: $font-family-outfit-Regular;
    background-color: $White_10;
    color: $White;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;

    @media (max-width: 1400px) {
        padding: 12px 24px 12px 24px;
        font-size: 18px;
        line-height: 32px;
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 100%;
        height: 100%;
        background-color: $Primary_Color;
        border-radius: 4px;
        transition: .3s;
    }

    &:hover {
        color: $White;

        &::after {
            transform: translate(-50%, -50%) scale(1);
        }
    }

    span {
        position: relative;
        z-index: 2;
    }
}


.secondary_btn {
    position: relative;
    overflow: hidden;
    padding: 15px 38px 15px 38px;
    font-size: $font-size-22px;
    line-height: $line-height-36px;
    font-family: $font-family-outfit-Regular;
    background-color: $Primary_Color;
    color: $bg1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    
    @media (max-width: 1400px) {
        padding: 12px 24px 12px 24px;
        font-size: 18px;
        line-height: 32px;
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 100%;
        height: 100%;
        background-color: $White;
        border-radius: 4px;
        transition: .3s;
    }

    &:hover {
        color: $bg1;

        &::after {
            transform: translate(-50%, -50%) scale(1);
        }
    }

    span {
        position: relative;
        z-index: 2;
    }
}


.white_btn {
    position: relative;
    overflow: hidden;
    padding: 15px 38px 15px 38px;
    font-size: $font-size-22px;
    line-height: $line-height-36px;
    font-family: $font-family-outfit-Regular;
    background-color: $White;
    color: $bg1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    
    @media (max-width: 1400px) {
        padding: 12px 24px 12px 24px;
        font-size: 18px;
        line-height: 32px;
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 100%;
        height: 100%;
        background-color: $Primary_Color;
        border-radius: 4px;
        transition: .3s;
    }

    &:hover {
        color: $bg1;

        &::after {
            transform: translate(-50%, -50%) scale(1);
        }
    }

    span {
        position: relative;
        z-index: 2;
    }
}


.tertiary_btn {
    position: relative;
    overflow: hidden;
    padding: 15px 38px 15px 38px;
    font-size: $font-size-22px;
    line-height: $line-height-36px;
    font-family: $font-family-outfit-Regular;
    background-color: $Dark;
    color: $White;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    
    @media (max-width: 1400px) {
        padding: 12px 24px 12px 24px;
        font-size: 18px;
        line-height: 32px;
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 100%;
        height: 100%;
        background-color: $Primary_Color;
        border-radius: 4px;
        transition: .3s;
    }

    &:hover {
        color: $White;

        &::after {
            transform: translate(-50%, -50%) scale(1);
        }
    }

    span {
        position: relative;
        z-index: 2;
    }
}

.border_btn {
    position: relative;
    overflow: hidden;
    padding: 15px 38px 15px 38px;
    font-size: $font-size-22px;
    line-height: $line-height-36px;
    font-family: $font-family-outfit-Regular;
    background-color: transparent;
    color: $bg1;
    border: 2px solid $bg1;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    
    @media (max-width: 1400px) {
        padding: 12px 24px 12px 24px;
        font-size: 18px;
        line-height: 32px;
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 100%;
        height: 100%;
        background-color: $bg1;
        border-radius: 4px;
        transition: .3s;
    }

    &:hover {
        color: $White;
        border: 2px solid transparent;

        &::after {
            transform: translate(-50%, -50%) scale(1);
        }
    }

    span {
        position: relative;
        z-index: 2;
    }
}


.border2_btn {
    position: relative;
    overflow: hidden;
    padding: 15px 38px 15px 38px;
    font-size: $font-size-22px;
    line-height: $line-height-36px;
    font-family: $font-family-outfit-Regular;
    background-color: transparent;
    color: $White;
    border: 2px solid $Primary_Color;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    
    @media (max-width: 1400px) {
        padding: 12px 24px 12px 24px;
        font-size: 18px;
        line-height: 32px;
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 100%;
        height: 100%;
        background-color: $Primary_Color;
        border-radius: 4px;
        transition: .3s;
    }

    &:hover {
        color: $White;
        border: 2px solid transparent;

        &::after {
            transform: translate(-50%, -50%) scale(1);
        }
    }

    span {
        position: relative;
        z-index: 2;
    }
}