@import '../../common-style/variables.scss';


.PasswordProtection_main{
    position: relative;
    padding: 128px;

    @media (max-width:992px) {
        padding: 72px 0;
    }

    @media (max-width:576px) {
        padding: 48px 0;
    }

    .container{

        .wrapper{
            background-color: $Primary_Color;
            padding: 72px 48px 72px 72px;

            @media (max-width:992px) {
                padding: 56px 48px;
            }

            @media (max-width:576px) {
                padding: 32px 24px;
            }

            .heading{
                color: $bg1;
            }

            .desc{
                color: $bg1;
                margin: 16px 0 32px;
            }

            .tertiary_btn{
                margin-top: 32px;
                border: 2px solid $bg1;
            }
        }
    }

    .bg{
        position: absolute;
        width: 100%;
        height: calc(100% + 270px);
        left: 0;
        top: -270px;
        z-index: -1;
    }
}