@import '../../common-style/variables.scss';

.Input {
    padding: 8px 16px;
    font-size: $font-size-20px;
    line-height: $line-height-28px;
    font-family: $font-family-outfit-Regular;
    background-color: transparent;
    color: $White;
    border-bottom: 2px solid $Grey_shade2;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    transition: .3s;

    &:focus {
        // border: 1px solid transparent;
        outline: none;
        // box-shadow: $Box-Shadow-Custom;
    }

    &::placeholder {
        color: $White;
    }
}


.Password_Input{
    padding: 18px 24px;
    font-size: $font-size-20px;
    line-height: $line-height-28px;
    font-family: $font-family-outfit-Regular;
    background-color: #ffffff4d;
    color: $bg1;
    outline: none;
    border: none;
    width: 100%;
    transition: .3s;

    &:focus {
        // border: 1px solid transparent;
        outline: none;
        // box-shadow: $Box-Shadow-Custom;
    }

    &::placeholder {
        color: $bg1;
    }
}